.window.window-credits {
  height: 290px;
  text-align: center;
  padding: 0 40px;
}

.window-credits .has-scroll-arrow--up {
  top: 0;
}

.window-credits-content-section-header {
  margin-top: 20px;
  margin-bottom: 0;
}

.window-credits-content-footer {
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: var(--font-size-small);
  opacity: 0.8;
}