.window-exit {
  inline-size: 280px;
  text-align: center;
  height: auto;
}

.window-exit .window-title {
  margin-bottom: 10px;
}

.window-exit-buttons {
  margin-top: 20px;
}

.window-exit-buttons .window-buttons-item {
  margin-top: 0;
  min-width: 80px;
}

.window-exit-buttons .window-buttons-item:first-child {
  margin-right: 15px;
}