.game-screen {
  position: absolute;
  top: 50%;
  left: 50%;
  width: var(--game-base-width);
  height: var(--game-base-height);
  transform: translate(-50%, -50%) scale(var(--game-scale));
  transform-origin: center center;
  background-color: var(--black);
}

.game {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  height: 100%;
  width: 100%;
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: var(--black);
}