@font-face {
  font-family: 'Grand9K Pixel';
  src: url('/assets/fonts/Grand9KPixelRegular.woff2') format('woff2'),
       url('/assets/fonts/Grand9KPixelRegular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

*:focus {
  outline: none !important;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: 'Grand9K Pixel';
  background-color: var(--black);
}

p {
  margin: 0;
}

img {
  display: block;
  height: auto;
  max-width: 100%;
}

button {
  color: var(--black);
  font-size: inherit;
  font-family: inherit;
  border: 0;
  outline: 0;
}

ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: inherit;
}

.pixelated-corners {
  clip-path: polygon(
  0px calc(100% - 6px),
  2px calc(100% - 6px),
  2px calc(100% - 4px),
  4px calc(100% - 2px),
  6px calc(100% - 2px),
  6px 100%,
  calc(100% - 6px) 100%,
  calc(100% - 6px) calc(100% - 2px),
  calc(100% - 4px) calc(100% - 2px),
  calc(100% - 2px) calc(100% - 4px),
  calc(100% - 2px) calc(100% - 6px),
  100% calc(100% - 6px),
  100% 6px,
  calc(100% - 2px) 6px,
  calc(100% - 2px) 4px,
  calc(100% - 4px) 2px,
  calc(100% - 6px) 2px,
  calc(100% - 6px) 0px,
  6px 0px,
  6px 2px,
  4px 2px,
  2px 4px,
  2px 6px,
  0px 6px
);
}

/* Hide native scrollbars globally but preserve scroll behavior */
* {
  scrollbar-width: none;
}

*::-webkit-scrollbar {
  display: none;
}