@font-face {
  font-family: 'Grand9K Pixel';
  src: url('/fonts/Grand9KPixel.woff2') format('woff2'),
    url('/fonts/Grand9KPixel.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

* {
  cursor: url("/system/cursor.png") 0 0, auto !important;
}

button,
button *,
a,
[role="button"],
.main-menu-button,
input[type="button"],
input[type="submit"] {
  cursor: url("/system/cursor-click.png") 0 0, pointer !important;
}

* {
  scrollbar-width: none;
  -ms-overflow-style: none;
  scrollbar-gutter: stable;
}

*::-webkit-scrollbar {
  display: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

*:focus {
  outline: none !important;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: 'Grand9K Pixel';
  font-size: var(--font-size-regular);
  background-color: var(--color-black);
  color: var(--color-white);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

p {
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

img {
  display: block;
  height: auto;
  max-width: 100%;
}

button {
  cursor: pointer;
  border: 0;
  padding: 0;
  outline: 0;
  font-size: inherit;
  font-family: inherit;
  background-color: transparent;
  color: inherit;
}

ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: inherit;
}

.has-pixelated-corners {
  clip-path: polygon(0px calc(100% - 8px),
      1px calc(100% - 8px),
      1px calc(100% - 5px),
      2px calc(100% - 5px),
      2px calc(100% - 4px),
      3px calc(100% - 4px),
      3px calc(100% - 3px),
      4px calc(100% - 3px),
      4px calc(100% - 2px),
      5px calc(100% - 2px),
      5px calc(100% - 1px),
      8px calc(100% - 1px),
      8px 100%,
      calc(100% - 8px) 100%,
      calc(100% - 8px) calc(100% - 1px),
      calc(100% - 5px) calc(100% - 1px),
      calc(100% - 5px) calc(100% - 2px),
      calc(100% - 4px) calc(100% - 2px),
      calc(100% - 4px) calc(100% - 3px),
      calc(100% - 3px) calc(100% - 3px),
      calc(100% - 3px) calc(100% - 4px),
      calc(100% - 2px) calc(100% - 4px),
      calc(100% - 2px) calc(100% - 5px),
      calc(100% - 1px) calc(100% - 5px),
      calc(100% - 1px) calc(100% - 8px),
      100% calc(100% - 8px),
      100% 8px,
      calc(100% - 1px) 8px,
      calc(100% - 1px) 5px,
      calc(100% - 2px) 5px,
      calc(100% - 2px) 4px,
      calc(100% - 3px) 4px,
      calc(100% - 3px) 3px,
      calc(100% - 4px) 3px,
      calc(100% - 4px) 2px,
      calc(100% - 5px) 2px,
      calc(100% - 5px) 1px,
      calc(100% - 8px) 1px,
      calc(100% - 8px) 0px,
      8px 0px,
      8px 1px,
      5px 1px,
      5px 2px,
      4px 2px,
      4px 3px,
      3px 3px,
      3px 4px,
      2px 4px,
      2px 5px,
      1px 5px,
      1px 8px,
      0px 8px);
}

.has-pixelated-borders {
  clip-path: polygon(0px calc(100% - 8px),
    1px calc(100% - 8px),
    1px calc(100% - 5px),
    2px calc(100% - 5px),
    2px calc(100% - 4px),
    3px calc(100% - 4px),
    3px calc(100% - 3px),
    4px calc(100% - 3px),
    4px calc(100% - 2px),
    5px calc(100% - 2px),
    5px calc(100% - 1px),
    8px calc(100% - 1px),
    8px 100%,
    calc(100% - 8px) 100%,
    calc(100% - 8px) calc(100% - 1px),
    calc(100% - 5px) calc(100% - 1px),
    calc(100% - 5px) calc(100% - 2px),
    calc(100% - 4px) calc(100% - 2px),
    calc(100% - 4px) calc(100% - 3px),
    calc(100% - 3px) calc(100% - 3px),
    calc(100% - 3px) calc(100% - 4px),
    calc(100% - 2px) calc(100% - 4px),
    calc(100% - 2px) calc(100% - 5px),
    calc(100% - 1px) calc(100% - 5px),
    calc(100% - 1px) calc(100% - 8px),
    100% calc(100% - 8px),
    100% 8px,
    calc(100% - 1px) 8px,
    calc(100% - 1px) 5px,
    calc(100% - 2px) 5px,
    calc(100% - 2px) 4px,
    calc(100% - 3px) 4px,
    calc(100% - 3px) 3px,
    calc(100% - 4px) 3px,
    calc(100% - 4px) 2px,
    calc(100% - 5px) 2px,
    calc(100% - 5px) 1px,
    calc(100% - 8px) 1px,
    calc(100% - 8px) 0px,
    8px 0px,
    8px 1px,
    5px 1px,
    5px 2px,
    4px 2px,
    4px 3px,
    3px 3px,
    3px 4px,
    2px 4px,
    2px 5px,
    1px 5px,
    1px 8px,
    0px 8px);
  position: relative;
}

.has-pixelated-borders {
  border: 3px solid transparent;
}

.has-pixelated-borders::after {
  content: "";
  position: absolute;
  clip-path: polygon(0px calc(100% - 8px),
    1px calc(100% - 8px),
    1px calc(100% - 5px),
    2px calc(100% - 5px),
    2px calc(100% - 4px),
    3px calc(100% - 4px),
    3px calc(100% - 3px),
    4px calc(100% - 3px),
    4px calc(100% - 2px),
    5px calc(100% - 2px),
    5px calc(100% - 1px),
    8px calc(100% - 1px),
    8px 100%,
    calc(100% - 8px) 100%,
    calc(100% - 8px) calc(100% - 1px),
    calc(100% - 5px) calc(100% - 1px),
    calc(100% - 5px) calc(100% - 2px),
    calc(100% - 4px) calc(100% - 2px),
    calc(100% - 4px) calc(100% - 3px),
    calc(100% - 3px) calc(100% - 3px),
    calc(100% - 3px) calc(100% - 4px),
    calc(100% - 2px) calc(100% - 4px),
    calc(100% - 2px) calc(100% - 5px),
    calc(100% - 1px) calc(100% - 5px),
    calc(100% - 1px) calc(100% - 8px),
    100% calc(100% - 8px),
    100% 8px,
    calc(100% - 1px) 8px,
    calc(100% - 1px) 5px,
    calc(100% - 2px) 5px,
    calc(100% - 2px) 4px,
    calc(100% - 3px) 4px,
    calc(100% - 3px) 3px,
    calc(100% - 4px) 3px,
    calc(100% - 4px) 2px,
    calc(100% - 5px) 2px,
    calc(100% - 5px) 1px,
    calc(100% - 8px) 1px,
    calc(100% - 8px) 0px,
    8px 0px,
    8px 1px,
    5px 1px,
    5px 2px,
    4px 2px,
    4px 3px,
    3px 3px,
    3px 4px,
    2px 4px,
    2px 5px,
    1px 5px,
    1px 8px,
    0px 8px,
    0px 50%,
    3px 50%,
    3px 9px,
    4px 9px,
    4px 6px,
    5px 6px,
    5px 5px,
    6px 5px,
    6px 4px,
    9px 4px,
    9px 3px,
    calc(100% - 9px) 3px,
    calc(100% - 9px) 4px,
    calc(100% - 6px) 4px,
    calc(100% - 6px) 5px,
    calc(100% - 5px) 5px,
    calc(100% - 5px) 6px,
    calc(100% - 4px) 6px,
    calc(100% - 4px) 9px,
    calc(100% - 3px) 9px,
    calc(100% - 3px) calc(100% - 9px),
    calc(100% - 4px) calc(100% - 9px),
    calc(100% - 4px) calc(100% - 6px),
    calc(100% - 5px) calc(100% - 6px),
    calc(100% - 5px) calc(100% - 5px),
    calc(100% - 6px) calc(100% - 5px),
    calc(100% - 6px) calc(100% - 4px),
    calc(100% - 9px) calc(100% - 4px),
    calc(100% - 9px) calc(100% - 3px),
    9px calc(100% - 3px),
    9px calc(100% - 4px),
    6px calc(100% - 4px),
    6px calc(100% - 5px),
    5px calc(100% - 5px),
    5px calc(100% - 6px),
    4px calc(100% - 6px),
    4px calc(100% - 9px),
    3px calc(100% - 9px),
    3px 50%,
    0px 50%);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #ffffff;
  display: block;
  pointer-events: none;
}

.has-pixelated-borders::after {
  margin: -3px;
}