@font-face {
  font-family: 'Grand9K Pixel';
  src: url('/fonts/Grand9KPixel.woff2') format('woff2'),
  url('/fonts/Grand9KPixel.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

* {
  cursor: url("/system/cursor.png") 0 0, auto !important;
}

button,
button *,
a,
[role="button"],
.main-menu-button,
input[type="button"],
input[type="submit"] {
  cursor: url("/system/cursor-click.png") 0 0, pointer !important;
}

* {
  scrollbar-width: none;
  -ms-overflow-style: none;
  scrollbar-gutter: stable;
}

*::-webkit-scrollbar {
  display: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

*:focus {
  outline: none !important;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: 'Grand9K Pixel';
  font-size: var(--font-size-regular);
  background-color: var(--black);
  color: var(--white);
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}

p {
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

img {
  display: block;
  height: auto;
  max-width: 100%;
}

button {
  cursor: pointer;
  border: 0;
  padding: 0;
  outline: 0;
  font-size: inherit;
  font-family: inherit;
  background-color: transparent;
  color: inherit;
}

ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: inherit;
}