.inventory-window {
  background: var(--black);
  border: 1px solid var(--white);
  border-radius: 8px;
  padding: 20px;
  width: 280px;
  text-align: left;
  position: relative;
  color: var(--white);
}

.inventory-list-item-title {
  margin-top: 0;
  margin-bottom: 12px;
  font-size: var(--font-size-regular);
  font-weight: normal;
}

.inventory-list {
  height: 100%;
}

.inventory-item {
  margin-bottom: 8px;
}

.inventory-list-item-description {
  font-size: var(--font-size-small);
}