.inventory-container {
  height: 100%;
}

/* Grid takes upper half */
.inventory-grid {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 4px;
  row-gap: 10px;
}

/* Description takes bottom half */
.inventory-description {
  flex: 1;
  padding: 8px;
  overflow-y: auto;
  text-align: left;
}

/* Individual item slots */
.inventory-slot {
  width: 48px;
  height: 48px;
  background: var(--black);
  border: 2px solid var(--black);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Selected slot highlight */
.inventory-slot.selected {
  border-color: var(--white)
}

/* Item icon image */
.inventory-icon {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

/* Item name */
.inventory-name {
  margin-top: 0;
  margin-bottom: 8px;
  font-size: var(--font-size-regular);
}

/* Empty message styling */
.inventory-empty {
  grid-column: 1 / -1;
  text-align: center;
  opacity: 0.7;
}

.inventory-empty {
  grid-column: 1 / -1;
  text-align: center;
  align-self: center;
  justify-self: center;
  opacity: 0.7;
  font-size: var(--font-size-regular);
}