.loading {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  font-size: var(--font-size-regular);
}

.language-select {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 6px;
}

.language-select-button:hover {
  color: var(--color-hover);
}