.loading {
  width: 100%;
  height: 100%;
  display: flex;
  background: var(--black);
  align-items: center;
  justify-content: center;
  user-select: none;
  cursor: default;
}

.loading p {
  color: var(--white);
  font-size: var(--font-size-regular);
  text-align: center;
}

.language-select {
  display: flex;
  flex-direction: column;
  gap: 0.6em;
}

.language-button {
  text-align: left;
  font-size: var(--font-size-regular);
  padding: 0;
  background-color: transparent;
  color: var(--white);
  cursor: pointer;
  transition: background-color 0.2s;
}