.main-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.main-menu-title {
  margin-top: 0;
  margin-bottom: 17px;
  line-height: 80px;
  font-size: var(--font-size-main-title);
  font-weight: normal;
  image-rendering: pixelated;
  background-image: url("/assets/system/logo.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  color: transparent;
  height: 119px;
}

.main-menu-options {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 6px;
}

.main-menu-button:disabled {
  cursor: default;
  opacity: 0.4;
}