.window-notes {
  width: 550px;
}

.notes-container {
  display: flex;
  height: 100%;
  background: var(--black);
  overflow-y: hidden;
}

.notes-sidebar {
  width: 150px;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  height: 100%;
}

.notes-sidebar-item {
  display: block;
  width: 100%;
  padding-block: 6px;
  padding-inline: 8px;
  text-align: left;
  font-size: var(--font-size-small);
}

.notes-sidebar-item.is-active {
  background: var(--white);
  color: var(--black);
}

.notes-sidebar-item:hover:not(.is-active) {
  background: rgba(255, 255, 255, 0.15);
}

.notes-sidebar::-webkit-scrollbar {
  width: 6px;
}

.notes-sidebar::-webkit-scrollbar-thumb {
  background: var(--white);
}

.notes-content {
  padding: 3px 10px;
}

.notes-content-title {
  margin-top: 0;
  margin-bottom: 8px;
  color: var(--white);
}

.notes-content-body p {
  margin-bottom: 6px;
}

.notes-empty {
  padding: 12px;
  text-align: center;
  color: var(--white);
  opacity: 0.8;
}

.notes-sidebar-wrapper {
  position: relative;
  height: 100%;
  flex-shrink: 0;
}