.window-notes {
  width: 610px;
}

.notes-container {
  display: flex;
  overflow-y: hidden;
  height: 100%;
}

.notes-sidebar {
  width: 150px;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  height: 100%;
}

.notes-sidebar-item {
  padding: 7px 10px 10px 10px;
  text-align: left;
  font-size: var(--font-size-small);
}

.notes-sidebar-item + .notes-sidebar-item {
  margin-top: 10px;
}

.notes-sidebar-item.is-active {
  background: var(--color-white);
  color: var(--color-black);
}

.notes-content {
  padding: 0 10px;
  margin-left: 20px;
}

.notes-content-title {
  margin-top: 0;
  margin-bottom: 8px;
}

.notes-sidebar-wrapper {
  position: relative;
  height: 100%;
}