.window-options {
  height: auto;
  max-width: 200px;
}

.window-buttons {
  display: flex;
  flex-direction: column;
}

.window-buttons-item {
  height: 40px;
  padding-bottom: 4px;
  background-color: #767787;
}

.window-buttons-item + .window-buttons-item {
  margin-top: 10px;
}