.window-options {
  height: auto;
  max-width: 275px;
}

.window-buttons {
  display: flex;
  flex-direction: column;
}

.window-buttons-item {
  height: 40px;
  padding-bottom: 4px;
  border: 3px solid var(--color-white);
}

.window-buttons-item + .window-buttons-item {
  margin-top: 10px;
}