.player-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 200px;
  padding: 16px;
  background-color: #4e4f64;
  color: var(--white);
  border-radius: 8px;
  margin-left: 20px;
  margin-right: -220px;
}

.player-menu-portrait {
  margin-bottom: 15px;
  border: 3px solid var(--white);
  background-color: #8899a1;
}

.player-menu-portrait img {
  image-rendering: pixelated;
}

.player-menu-buttons {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.player-menu-buttons button + button {
  margin-top: 5px;
}

.player-menu-inventory,
.player-menu-notes {
  width: 100%;
}

.player-menu-notes-back-button,
.player-menu-inventory-back-button {
  margin-top: 15px;
}

.player-menu-inventory-title,
.player-menu-notes-title {
  margin-top: 0;
  font-size: var(--font-size-regular);
}

.player-menu-notes-list,
.player-menu-inventory-list {
  overflow-y: scroll;
  min-height: 180px;
  height: 180px;
  max-height: 180px;
  background-color: var(--white);
  color: var(--black);
  font-size: var(--font-size-small);
  scrollbar-width: none;
}

.player-menu-notes-list-item-description,
.player-menu-inventory-list {
  padding: 9px 15px;
}

.player-menu-notes-list-item-description p {
  margin: 0;
}

.player-menu-inventory-list-item::before {
  content: '*';
  display: inline-block;
  position: relative;
  top: 2px;
  margin-right: 5px;
}

.player-menu-inventory-list-item + .player-menu-inventory-list-item {
  margin-top: 15px;
}