.player-menu {
    width: 160px;
    margin-left: 25px;
    margin-right: -185px;
    margin-bottom: 20px;
}

.player-menu-toast {
  display: block;
  margin-bottom: 10px;
  text-align: center;
  color: white;
}

.player-menu-window {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--color-white);
}

.player-menu-portrait {
  margin-bottom: 15px;
  border: 3px solid var(--color-white);
  background-color: #8899a1;
}

.player-menu-buttons {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.player-menu-buttons-item {
  cursor: pointer;
  width: 35px;
  height: 35px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.player-menu-notes-back-button,
.player-menu-inventory-back-button {
  margin-top: 15px;
}

.player-menu-inventory-title,
.player-menu-notes-title {
  margin-top: 0;
  font-size: var(--font-size-regular);
}

.player-menu-notes-list,
.player-menu-inventory-list {
  overflow-y: scroll;
  min-height: 180px;
  height: 180px;
  max-height: 180px;
  background-color: var(--color-white);
  color: var(--color-black);
  font-size: var(--font-size-small);
  scrollbar-width: none;
}

.player-menu-notes-list-item-description,
.player-menu-inventory-list {
  padding: 9px 15px;
}

.player-menu-notes-list-item-description p {
  margin: 0;
}

.player-menu-inventory-list-item::before {
  content: '*';
  display: inline-block;
  position: relative;
  top: 2px;
  margin-right: 5px;
}

.player-menu-inventory-list-item + .player-menu-inventory-list-item {
  margin-top: 15px;
}

.player-menu-buttons-item {
  padding: 0;
  background-color: transparent;
  background-size: contain;
  color: transparent;
}

.player-menu-buttons-item-inventory {
  background-image: url("/icons/icon-inventory.png");
}

.player-menu-buttons-item-notes {
  background-image: url("/icons/icon-notes.png");
}

.player-menu-buttons-item-options {
  background-image: url("/icons/icon-options.png");
}

.player-menu-buttons-item-exit {
  background-image: url("/icons/icon-exit.png");
}

.player-menu {
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.player-menu.is-active {
  opacity: 1;
}

.player-menu-buttons-item-notes.is-disabled {
  opacity: 0.35;
  cursor: default;
  pointer-events: none;
}

.player-menu-buttons-item-notes.player-menu-buttons-item-has-unread {
  position: relative;
}

.player-menu-buttons-item-notes.player-menu-buttons-item-has-unread::after {
  content: "";
  position: absolute;
  top: 2px;
  right: 2px;
  width: 7px;
  height: 7px;
  border-radius: 999px;
  background-color: #da5151;
}