.scene-viewer {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background-color: var(--white);
  height: 100%;
  width: 360px;
  padding: 30px;
}

.scene-viewer-content {
  overflow-y: scroll;
  scrollbar-width: none;
  margin-bottom: 30px;
}

.scene-viewer p {
  margin-top: 0;
  margin-bottom: 20px;
}

.scene-viewer-portrait {
  position: absolute;
  top: 0;
  left: -175px;
  max-width: 155px;
  border: 3px solid var(--white);
}

.scene-viewer-node {
  opacity: 0.3;
}

.scene-viewer-node.is-current {
  opacity: 1;
}

.scene-viewer-node.is-current {
  opacity: 0;
  animation: nodeSoftFade 0.8s ease-in-out forwards;
}

@keyframes nodeSoftFade {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

.scene-viewer-dialogue-list {
  counter-reset: dialogue-counter;
}

.scene-viewer-dialogue-list-option::before {
  counter-increment: dialogue-counter;
  content: counter(dialogue-counter) ". ";
  display: inline-block;
  min-width: 1.5ch;
}

.scene-viewer-dialogue-list-option button {
  cursor: pointer;
  background-color: transparent;
  border: 0;
  font-size: initial;
}

.scene-viewer-dialogue-list-option button {
  color: #ae4141;
}

.scene-viewer-dialogue-list-option button:hover {
  color: #ee5b5b;
}

.scene-viewer-button {
  flex-shrink: 0;
  cursor: pointer;
  width: 100%;
  height: 35px;
  background-color: #ae4141;
  color: var(--white);
}