.scene-viewer-text {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background-color: var(--white);
  height: 500px;
  width: 360px;
  padding: 30px;
}

.scene-viewer-text p {
  margin-top: 0;
  margin-bottom: 20px;
}

.scene-viewer-portrait {
  position: absolute;
  top: 0;
  left: -160px;
  max-width: 155px;
  border: 3px solid var(--white);
}

.scene-viewer-block {
  opacity: 0.3;
}

.scene-viewer-block.is-current {
  opacity: 1;
}
.scene-viewer-dialogue-list {
  counter-reset: dialogue-counter;
}

.scene-viewer-dialogue-list-option::before {
  counter-increment: dialogue-counter;
  content: counter(dialogue-counter) ". ";
  display: inline-block;
  min-width: 1.5ch;
}

.scene-viewer-dialogue-list-option button {
  cursor: pointer;
  background-color: transparent;
  border: 0;
  font-size: initial;
}

.scene-viewer-dialogue-list-option button:hover {
  color: red;
}