body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

img {
  display: block;
  height: auto;
  max-width: 100%;
}

.scene-viewer-text {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background-color: pink;
  height: 500px;
  width: 360px;
  padding: 30px;
}

.scene-viewer-portrait {
  position: absolute;
  top: 0;
  left: -29%;
  max-width: 155px;
  border: 3px solid red;
}