.has-scroll-arrow {
  position: absolute;
  right: 6px;
  width: 19px;
  height: 19px;
  background-color: transparent;
  color: transparent;
  background-size: contain;
  background-image: url("/icons/icon-arrow.png");
  image-rendering: pixelated;
}

.has-scroll-arrow--up {
  top: 4px;
  transform: rotate(180deg);
}

.has-scroll-arrow--down {
  bottom: 4px;
}

.has-scroll-arrow:hover:not(:disabled) {
  opacity: 1;
}

.has-scroll-arrow:disabled {
  opacity: 0.25;
  cursor: default;
}

.has-scroll {
  position: relative;
  overflow-y: auto;
  scrollbar-width: none;
}

.has-scroll::-webkit-scrollbar {
  display: none;
}