.story-flow {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 360px;
  height: 100%;
  padding: 30px;
  color: var(--black);
  background-color: var(--white);
}

.story-flow-content {
  position: relative;
  overflow-y: auto;
  margin-bottom: 30px;
}

.story-flow-portrait {
  position: absolute;
  top: 0;
  left: -175px;
  max-width: 155px;
  border: 3px solid var(--white);
}

@keyframes nodeSoftFade {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

.story-flow-node {
  opacity: 0.5;
}

.story-flow-node.is-current {
 opacity: 0;
 animation: nodeSoftFade 0.4s ease-in-out forwards;
}

.story-flow-node + .story-flow-node {
  margin-top: 20px;
}

.story-flow-dialogue-list-option-button {
  text-align: left;
  border: 0;
  color: var(--red);
  background-color: transparent;
  cursor: pointer;
}

.story-flow-dialogue-list-option-button:hover {
  color: var(--black);
}

.story-flow-option-number {
  display: inline-block;
  min-width: 1.5ch;
  color: var(--black);
}

.story-flow-button-area {
  flex-shrink: 0;
  height: 35px;
}

.story-flow-button {
  width: 100%;
  height: 35px;
  padding-bottom: 4px;
  color: var(--white);
  background-color: var(--red);
  cursor: pointer;
}

.story-flow-button:hover {
  background-color: var(--red-hover);
}

.story-flow::before,
.story-flow::after {
  position: absolute;
  left: 0;
  width: 100%;
  height: 9px;
  pointer-events: none;
  z-index: 2;
  content: "";
}

.story-flow::before {
  top: 29px;
  background: linear-gradient(to bottom, var(--white) 0%, rgba(255, 255, 255, 0) 100%);
}

.story-flow::after {
  bottom: 94px;
  background: linear-gradient(to top, var(--white) 0%, rgba(255, 255, 255, 0) 100%);
}

.story-flow .has-scroll-arrow {
  background-image: url("/assets/icons/icon-arrow-story-flow.png");
}
