.title-card {
  position: absolute;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-black);
  color: var(--color-white);
  font-size: var(--font-size-regular);
  transition: opacity var(--title-fade-duration, 400ms) ease-in-out;
}

.title-card-visible {
  opacity: 1;
}

.title-card-hidden {
  opacity: 0;
}