.title-card {
  position: absolute;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--black);
  color: var(--white);
  font-size: var(--font-size-regular);
  transition: opacity var(--title-fade-duration, 400ms) ease-in-out;
}

.title-card-visible {
  opacity: 1;
}

.title-card-hidden {
  opacity: 0;
}

.title-card em {
  line-height: 1;
  font-style: normal;
  font-size: var(--font-size-small);
}