:root {
  --game-base-width: 960px;
  --game-base-height: 540px;

  --fade-screen-duration: 900ms;
  
  --color-white: #f7f7f7;
  --color-black: #000000;
  --color-red: #ae4141;
  --color-red-hover: #bb5353;
  --color-hover: #a5a7c2;
  --color-window: #4e4f64;
  --color-pink: #ffc0cb;

  --font-size-tiny: 15px;
  --font-size-small: 18px;
  --font-size-regular: 24px;
  --font-size-large: 27px;
  --font-size-title: 36px;
  --font-size-huge: 48px;
  --font-size-main-title: 105px;
}