:root {
  --game-base-width: 960px;
  --game-base-height: 540px;

  --fade-screen-duration: 400ms;
  
  --white: #f7f7f7;
  --black: #000000;
  --red: #ae4141;
  --red-hover: #bb5353;
  --window: #4e4f64;
  --pink: #ffc0cb;

  --font-size-tiny: 10px;
  --font-size-small: 12px;
  --font-size-regular: 16px;
  --font-size-large: 18px;
  --font-size-title: 24px;
  --font-size-huge: 32px;
  --font-size-main-title: 40px;
}