.window-overlay {
  cursor: pointer;
  position: absolute;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.9);
  z-index: 1000;
}

.window-frame {
  position: relative;
  display: inline-block;
}

.window {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 500px;
  height: 400px;
  padding: 9px 15px 15px 15px;
  background-color: var(--window);
  color: var(--white);
}

.window-title {
  margin-top: 0;
  margin-bottom: 15px;
  line-height: 1;
  text-align: center;
  font-weight: normal;
  font-size: var(--font-size-large);
}

.window-close {
  position: absolute;
  top: -20px;
  right: -23px;
  cursor: pointer;
  z-index: 2;
  font-size: 28px;
}